/* @theme utils/_animations */

@keyframes underline-animation {
    0% {
        color: var(--JAMA-foreground);
        background-size: 0% 44px;
        background-position: 0 100%;
    }
    100% {
        color: var(--JAMA-background);
        background-size: 110% 44px;
        background-position: 0% 100%;
    }
}

@keyframes pulse {
    0% {
        font-variation-settings: "wght" 200;
    }
    50% {
        font-variation-settings: "wght" 500;
    }
    100% {
        font-variation-settings: "wght" 200;
    }
}

@keyframes head-fade-in {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

/* li.current { */
/*     display: inline-block;  */
/*     animation: bounceSize 3s infinite; */
/*     text-align: left; */
/* } */

@keyframes bounceSize {
    0%,
    100% {
        transform: scale(1);
        transform-origin: left center; /* Ensures the scale happens from the center */
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes underline-animation {
    0% {
        color: var(--JAMA-foreground);
        background-size: 0% 44px;
        background-position: 0 100%;
    }
    100% {
        color: var(--JAMA-background);
        background-size: 110% 44px;
        background-position: 0% 100%;
    }
}
::view-transition-group(*) {
    animation-duration: 300ms;
}

::view-transition-old(*),
::view-transition-new(*) {
    mix-blend-mode: normal;
}

/* 確保在 SVG 結構中也能正常運作 */
::view-transition * svg,
::view-transition * foreignObject {
    transition: none;
    animation: none;
}
