/* @theme main-no-animation */

@charset "UTF-8";
/*!
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */

@import url('https://unpkg.com/markdown-it-admon/styles/admonition.css');
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;800&display=swap');

:root {
  --JAMA-foreground: #333;
  --JAMA-current-line: #e5e5e5;
  --JAMA-background: #ffffff;
  /* --JAMA-background: #f8f8f2; */
  --JAMA-comment: #6272a4;
  --JAMA-cyan: #192b2f;
  --JAMA-blue: #2d696a;
  --JAMA-green: #6c9a77;
  --JAMA-orange: #841e2f;
  --JAMA-pink: #9a2f6b;
  --JAMA-purple: #4f2d7d;
  --JAMA-red: #d71635;
  --JAMA-yellow: #8c9434;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: #bd93f9;
}

.hljs-emphasis {
  font-style: italic;
}
svg[data-marp-fitting="svg"] {
  max-height: 580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.2em 0 0 0;
  max-width: 1000px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: transform 0.3s ease;
}
section > h1:hover,
section > h2:hover,
section > h3:hover,
section > h4:hover,
section > h5:hover {
  transform: translateX(20px);
  /* transform: scale(1.05); */
  transition: transform 0.3s ease;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}
li strong {
}
strong {
  /* font-weight: bold; */
  font-weight: 800;
  /* background-color: var(--JAMA-blue); */
  /* color: var(--JAMA-blue); */
  /* text-decoration: underline; */
  /* text-decoration-color: #6c9a77; */
  /* text-decoration-style: solid; */
  padding: 0px 5px 0px 5px;
  background: -webkit-linear-gradient(right, #6c9a77, #2d696a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 3.0em;
  font-weight: 800;
  /* margin-top: 100px; */
  margin-bottom: 60px;
  color: var(--JAMA-foreground);
}

h2 {
  font-size: 1.5em;
  color: var(--JAMA-blue);
}

h3 {
  font-size: 1.2em;
  color: var(--JAMA-foreground);
}

h4 {
  font-size: 1.0em;
  opacity: 0.5;
  font-style: italic;
  color: var(--JAMA-foreground);
}

h5 {
  font-size: 1em;
  color: var(--JAMA-blue);
}

h6 {
  font-size: 0.9em;
  color: var(--JAMA-blue);
}

p {
  font-size: 0.9em;
  margin: 1em 0 1em 0;
  /* transition: 0.3s; */
}

blockquote {
  font-size: 0.6em;
  margin: 1em 0 0 0;
}

ul > li,
ol > li {
  margin: 0.5em 0 0 0;
  color: var(--JAMA-cyan);
}
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0 0;
}

code {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Inter", sans-serif; */
  /* font-family: 'JetBrains Mono', monospace; */
  font-weight: 800;
  font-size: 0.9em;
  letter-spacing: 0.4;
  margin: 0.3em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  vertical-align: baseline;
}

pre {
  display: block;
  min-height: 1.0em;
  color: #fff;
  overflow: visible;
}
pre code {
  box-sizing: border-box;
  line-height: 1.0em;
  background: #333;
  margin: 0;
  min-width: 100%;
  padding: 1.0em;
  font-size: 1em;
}
pre code svg[data-marp-fitting="svg"] {
  max-height: calc(480px - 1em);
}

blockquote {
  padding-top: 5px;
  border-top: 0.1px solid #555;
  margin-top: 10px;
  font-size: 50%;
  color: var(--JAMA-foreground);
  background: var(--JAMA-background);
  position: absolute;
  bottom: 10px;
  right: 80px;
  left: 80px;
}
blockquote::before {
  content: "";
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  position: absolute;
  color: var(--JAMA-green);
  top: 0;
  left: 0;
}
blockquote > *:first-child {
  margin-top: 0;
}
blockquote > blockquote > blockquote {
  font-size: 50%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 0.1em dashed #555;
  position: absolute;
  bottom: -10px;
  left: 10px;
}

mark {
  background: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border-collapse: collapse;
  border-radius: 10px; /* sets the border radius */
  overflow: hidden; /* hides the overflow from the rounded corners */
  margin: 1em 0 0 0;
  transition: transform 0.3s ease;
}
table th,
table td {
  padding: 0.2em 0.4em;
  border-width: 1px;
  border-style: solid;
}
table th {
  background-color: blue; /* sets the background color of the table header */
  color: white; /* sets the text color of the table header to white */
}
section {
  font-size: 28px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
  /* letter-spacing: 0.4px; */
  padding: 50px 35px;
  color: var(--JAMA-foreground);
  background-color: var(--JAMA-background);
  border-left: 15px solid;
  border-image: linear-gradient(to bottom, #6c9a77, #2d696a);
  border-image-slice: 1;
}
section > *:first-child,
section > header:first-child + * {
  margin-top: 0;
}
section a,
section mark {
  color: var(--JAMA-red);
}
section code {
  /* background: var(--JAMA-blue); */
  border-radius: 0.7em;
  border: 2px solid var(--JAMA-blue);
  color: var(--JAMA-blue);
}
section h4, header {
  opacity: 0;
  transform: translateY(-40px);
  animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
section > p {
  transition: transform 0.3s ease;
}
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: var(--JAMA-comment);
}
section table th,
section table td {
  border-color: var(--JAMA-current-line);
  font-size: 0.8em;
}
section table thead th {
  background: var(--JAMA-foreground);
  color: var(--JAMA-background);
  font-size: 0.8em;
}
section table tbody > tr:nth-child(even) td,
section table tbody > tr:nth-child(even) th {
  background: var(--JAMA-current-line);
  font-size: 0.8em;
}

header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  line-height: 30px;
  /* overflow: hidden; */
  padding: 35px 35px;
  position: absolute;
  color: var(--JAMA-blue);
}

header {
  /* background-color: #2d696a; */
  background: linear-gradient(to left, #2d696a, #6c9a77);
  color: #ffffff;
  border-bottom-left-radius: 15px;
  /* border-bottom-right-radius: 15px; */
  /* border-left: #2d696a 35px solid; */
  height: 43px;
  padding-top: 5px;
  right: 0;
  top:0;
  font-weight: 700;
  text-align: right;
  max-width: 500px;
}
.today {

}

footer {
  left: 0;
  right: 0;
  bottom: 0;
}

section::after {
  right: 0;
  bottom: 0;
  font-size: 80%;
}
.free {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.free div {
  flex-grow: 1;
}
.free > div img:not(.emoji) {
  width: auto;
  transition: transform 0.3s ease;
}
.container {
  display: flex;
}
.half {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.half > div {
  flex: 1;
  width: calc(50% - 0.5rem); /* set width to 50% minus half the gap */
  padding-right: 0.5em;
  transition: transform 0.3s ease;
}
.half > div:hover, .free > div img:hover {
  transform: translateY(-10px);
  transform-origin: center;
  border-top-width: 0px;
}
.columns {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}
.columns img, .half img:not(.emoji) {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.columns > div {
  flex: 1;
  width: calc(50% - 0.5rem); /* set width to 50% minus half the gap */
  transition: transform 0.3s ease;
  padding-right: 0.5em;
}
.columns div:not(:last-child) {
  border-right: 1px dashed green;
}
.columns div:hover {
  transform: translateY(-30px);
  transform-origin: center;
  border-top-width: 0px;
}
hr {
  border: 1px solid var(--JAMA-blue);
}
.dash {
  border: none;
  border-top: 1px dashed #2d696a;
  height: 0;
  margin: 0.4em 0;
}
a {
  color: var(--JAMA-cyan)
}
ul li:hover::marker {
  transform: scale(1.5);
  color: #ffb703;
}
li {
  transition: opacity 1s ease;
  transition: transform 0.3s ease;
}
li::marker {
  color: #2d696a;
}
li:hover {
  transform: translateX(-20px);
  /* transform: scale(1.05); */
  transition: transform 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #6c9a77;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}
li[data-bespoke-marp-fragment="active"] {
  opacity: 1;
  transition: transform 0.3s ease;
}
li[data-bespoke-marp-fragment="inactive"] {
  transition: transform 0.3s ease;
  visibility: visible;
  opacity: 0.2;
}
pre ol li > span {
   transition: transform 0.5s ease;
}
pre ol li > span:hover {
  font-weight: 800;
  transition: transform 0.3s ease;
  transform: translateX(40px);
  /* color: var(--JAMA-green); */
  color: #ffb703;
}
pre ol li:hover::before {
  color: #ffb703;
}
pre ol li span[data-marp-line-number]:hover {
  transform: scale(1.2);
}

td:hover {
  /* box-shadow: 12px 2px 15px rgba(0, 0, 0, 0.3); */
  color: #2d696a;
  border: 2px solid #2d696a;
  background-color: white; /* sets the background color of the table header */
  transition: opacity 0.5s ease;
}
tr:hover {
  transition: transform 0.3s ease;
}
table:hover {
  /* box-shadow: 12px 2px 15px rgba(0, 0, 0, 0.3); */
  transform: scale(1.01);
  transition: transform 0.2s ease;
  box-shadow:
    0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
/* blockquote:hover { */
/*   transform: translateY(-20); */
/*   transition: transform 0.3s ease; */
/*   padding: 0.4em 0.8em 0.4em 0.8em; */
/* } */
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  line-height: 1;
  border-radius: 200px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 2px 2px;
  margin-left: 20px;
  color: #fff;
  background-color: #2d696a;
  height: 48px;
  :hover{
      transform: scale(1.04);
      background-color: #2d696a;
  }

}
.container {
  border: 1px solid black;
  margin: 10px;
}
summary {
  color: #2d696a;
  font-weight:bold;
}
/* line num in codebox  */
pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: line-number 0;
}
code ol {
  padding-right: 2.5em;
}
pre ol li {
  display: contents;
  color: #fff;
  font-weight:500;
  /* font-family: "Inter", sans-serif; */
  font-family: 'Overpass Mono', monospace;

}
pre ol li span[data-marp-line-number]::before {
  display: block;
  content: counter(line-number);
  counter-increment: line-number;
  text-align: right;
  color: #595959;
  font-weight:800;
  background-color: #222;
  border-right: 5px solid #595959;
  margin-right: 0.51em;
  padding-right: 0.51em;
  padding-left: 0.51em;
}
img[alt*="RLQ"] {
  position: absolute; /* sets the position of the element to absolute */
  right: 80px;
  bottom: 80px;
}
img[alt*="RUQ"] {
  position: absolute; /* sets the position of the element to absolute */
  right: 80px;
  top: 80px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move {
    0% {transform: translateX(0);}
    50% {transform: translateX(-20px);}
    100% {transform: translateX(0);}
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
svg.markmap {
    width: 200%;
}
div[class^="admonition"] {
  margin-left: 80px;
  max-width: 80%;
}
div[class^="admonition"] > p > strong {
  font-weight: bold;
}
/* div[class^="admonition"] > p  { */
/* } */
div[class^="admonition"]:hover {
  /* box-shadow: 12px 2px 15px rgba(0, 0, 0, 0.3); */
  /* material style shadow */
  transform: translateX(20px);
  transition: transform 0.3s ease;
  box-shadow:
    0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
p.admonition-title::before {
  padding-left:20px;
  padding-top:4px;
}
.task-list-item-checkbox {
  transform: scale(1.5);
}
span[class^="material-symbols-outlined"] {
  position: absolute; /* sets the position of the element to absolute */
  left: 40px;
  bottom: 30px;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-size: 1em;
  padding: 2px;
  border: 2px solid #06D85F;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 1000px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.markmap > svg {
  width: 100%;
  height: 550px;
  font: 300 16px/20px sans-serif
}
