/* @theme componets/_code */

section blockquote {
    font-size: 0.8em;
    margin: 5px 0 0 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

section pre {
    display: block;
    min-height: 1em;
    color: #fff;
    overflow: visible;
}
section pre code {
    box-sizing: border-box;
    line-height: 1em;
    background: #333;
    margin: 1;
    min-width: 100%;
    padding: 1em;
    font-size: 1em;
}
section pre code svg[data-marp-fitting="svg"] {
    max-height: calc(480px - 1em);
}

section blockquote {
    padding-top: 5px;
    border-top: 0.1px solid #555;
    margin-top: 10px;
    font-size: 50%;
    color: var(--JAMA-foreground);
    /* background: var(--JAMA-background); */
    position: absolute;
    bottom: 0px;
    right: 100px;
    left: 50px;
}
blockquote::before {
    content: "";
    display: block;
    font-weight: bold;
    position: absolute;
    color: var(--JAMA-green);
    top: 0;
    left: 0;
}
blockquote > *:first-child {
    margin-top: 0;
}
blockquote > blockquote > blockquote {
    font-size: 50%;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 0.1em dashed #555;
    position: absolute;
    bottom: -10px;
    left: 10px;
}
