/* @theme components/_diagram */

.diagram {
    padding: 30px;
}

.level-1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.branch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node {
    border: 2px solid var(--JAMA-blue);
    padding: 10px 20px;
    text-align: center;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9; /* 將 .node 往前提升 */
}

/* for the first level node */
.branch > .node-group > .node {
    color: var(--JAMA-background);
    background: var(--JAMA-blue);
}

.children {
    display: flex;
    gap: 30px;
    margin-top: 23px; /* Match the line height */
}

/* Parent node width matches children */
.node-group > .node {
    width: calc(100% - 44px);
    min-width: max-content;
    z-index: 1; /* 將 .node 往前提升 */
}

/* Vertical connecting lines from child to parent */
.node-group .node:not(.level-1 > .branch > .node-group > .node) {
    position: relative;
}

.node-group .node:not(.level-1 > .branch > .node-group > .node)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #95a5a6;
    z-index: 0; /* 將 .node 往前提升 */
}
