/* @theme components/_images */

svg[data-marp-fitting="svg"] {
    max-height: 580px;
}

img[alt*="uml"] {
    max-height: 450px;
    width: auto;
}

img {
    max-width: 1200px !important;
    max-height: 520px !important;
    width: auto;
    height: auto;
    object-fit: contain; /* 確保圖片在指定範圍內縮放並保持比例 */
}

img[alt*="inline"] {
    display: inline;
}

img[alt*="badge"] {
    height: 30px;
}
img[alt*="svg"] {
    height: 30px;
    font-family: "Inter", sans-serif;
}
img[alt*="emojik"] {
    animation: move 2.5s infinite cubic-bezier(0.6, 0.05, 0.4, 0.95);
}
img[alt*="RLQ"] {
    position: absolute; /* sets the position of the element to absolute */
    right: 80px;
    bottom: 80px;
    z-index: 0;
}
.webcam-container {
    position: absolute; /* sets the position of the element to absolute */
    right: 80px;
    bottom: 80px;
    display: flex;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    border: 8px solid var(--JAMA-blue);
    border-radius: 50%;
    /* box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.5); */
}

.webcam-video {
    /* height: 230px; */
    width: 100%;
    height: 100%;
    object-fit: cover; /* 讓視頻內容填滿容器 */
    z-index: 0;
    border-radius: inherit;
}
img[alt*="RUQ"] {
    position: absolute; /* sets the position of the element to absolute */
    right: 80px;
    top: 80px;
}

img {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}
