/* @theme components/_other_tags */

sup,
sub {
    font-size: 0.8em; /* Adjust the size relative to the parent text */
    color: var(--JAMA-blue);
}

kbd {
    background-color: #eee;
    border: 0;
    border-radius: 0.125em;
    box-shadow:
        +0.2em +0.125em 0.125em rgba(0, 0, 0, 0.25),
        0 0 0 0.04em rgba(0, 0, 0, 0.3),
        0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset,
        +0.05em +0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
    color: var(--JAMA-foreground);
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.35em;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}

kbd:hover {
    background-color: #eee;
    border-radius: 0.125em;
    background-color: #f3f3f3; /* 淺色背景以突出懸停效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 更大的陰影以增強視覺效果 */
}

kbd:active {
    background-color: #e6e6e6; /* 按下時更暗的背景色 */
    box-shadow:
        0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
        0 0 0 0.05em rgba(0, 0, 0, 0.4),
        -0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset; /* 仿照按鈕的按下效果 */
    transform: translateY(5px); /* 輕微下移以模擬按鍵被按下 */
}

.markdown-alert {
    display: flex;
    gap: 2rem;
    padding: 0.5em;
    border-left: 0.2rem solid;
    padding-bottom: 0px;
    padding-top: 0px;
    border-color: var(--border-color);
    background-color: #f1f1f1;
}
.markdown-alert > p {
    line-height: 1em;
}

.markdown-alert > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--border-color);
    /* padding-right: 0.6em; */
    /* border-right: 0.2rem solid; */
    /* border-color: var(--border-color); */
}

.markdown-alert .markdown-alert-icon {
    margin-right: 0.5em;
    fill: var(--border-color);
}

.markdown-alert.note {
    --border-color: #539bf5;
}

.markdown-alert.warning {
    --border-color: #c69026;
}

.markdown-alert.important {
    --border-color: #986ee2;
}

.markdown-alert.caution {
    --border-color: #e5534b;
}

.markdown-alert.tip {
    --border-color: #57ab5a;
}

.task-list-item-checkbox {
    transform: scale(1.5);
}
