/* @theme components/_tables */

section table {
    border-spacing: 0;
    border-collapse: collapse;
    /* border: 1px solid; */
    /* border-color: var(--JAMA-background); */
    border-radius: 2px; /* sets the border radius */
    overflow: hidden; /* hides the overflow from the rounded corners */
    margin: 2em 0 0 0;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

section table th,
section table td {
    font-size: 0.8em;
    padding: 0.4em 0.4em;
    border: 1px solid var(--JAMA-background);
}
section table th:last-child,
section table td:last-child {
    border-right: none;
}

section table thead th {
    background: var(--JAMA-blue);
    /* background: var(--JAMA-foreground); */
    color: var(--JAMA-background);
    font-size: 0.8em;
    color: white; /* sets the text color of the table header to white */
}
section table tbody > tr:nth-child(even) td,
section table tbody > tr:nth-child(even) th {
    background: var(--JAMA-current-line);
    font-size: 0.8em;
}
