/* @theme base/_variables */

:root {
    --JAMA-foreground: #333;
    --JAMA-current-line: #e5e5e5;
    --JAMA-background: #ffffff;
    /* --JAMA-background: #f8f8f2; */
    --JAMA-comment: #6272a4;
    --JAMA-cyan: #192b2f;
    --JAMA-blue: #2d696a;
    --JAMA-green: #6c9a77;
    --JAMA-orange: #841e2f;
    --JAMA-pink: #9a2f6b;
    --JAMA-purple: #4f2d7d;
    --JAMA-red: #d71635;
    --JAMA-yellow: #8c9434;
    --box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    --box-padding: 20px;
}
