/* @theme components/_section */
section ul strong,
section table strong,
section p strong {
    padding: 0px 2px 0px 2px;
    background: -webkit-linear-gradient(right, #6c9a77, #2d696a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 選擇文檔中的第一個 h1 標題 */
.large-title {
    font-size: 4em !important;
}

section br {
    break-before: column;
}
section.lg table,
section.lg > ul {
    font-size: 1.5em !important;
    line-height: 1.4;
}
section.xl table {
    font-size: 1.8em !important;
}
section p {
    font-size: 1em;
    margin: 1em 0 1em 0;
    /* transition: 0.3s; */
}

section mark {
    font-size: 150%;
    font-weight: 700;
    color: var(--JAMA-blue);
    display: inline-block;
    background: transparent;
    padding-bottom: 3px;
    /* background-image: linear-gradient(#3d6869 0 0); */
    background-position: 0 100%; /*OR bottom left*/
    background-repeat: no-repeat;
    background-size: 100% 5px;
}

section ins::before {
    content: "[ ";
    font-size: 1.2em;
    color: var(--JAMA-foreground);
}
section ins::after {
    content: " ]";
    font-size: 1.2em;
    color: var(--JAMA-foreground);
}

section ins {
    /* color: white; */
    font-size: 1em;
    color: var(--JAMA-blue);
    text-decoration: none;
    /* background-color: #3d6869; */
    /* padding: 7px; */
    /* border-radius: 5px; */
}

section.scroll > ul {
    /* width: 1100px; */
    /* height: 500px; */
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 20px; */
}
kbd {
    background-color: #eee;
    border: 0;
    border-radius: 0.125em;
    box-shadow:
        +0.2em +0.125em 0.125em rgba(0, 0, 0, 0.25),
        0 0 0 0.04em rgba(0, 0, 0, 0.3),
        0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset,
        +0.05em +0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
    color: var(--JAMA-foreground);
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.35em;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}

kbd:hover {
    background-color: #eee;
    border-radius: 0.125em;
    background-color: #f3f3f3; /* 淺色背景以突出懸停效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 更大的陰影以增強視覺效果 */
}

kbd:active {
    background-color: #e6e6e6; /* 按下時更暗的背景色 */
    box-shadow:
        0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
        0 0 0 0.05em rgba(0, 0, 0, 0.4),
        -0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset; /* 仿照按鈕的按下效果 */
    transform: translateY(5px); /* 輕微下移以模擬按鍵被按下 */
}

.outline li {
    font-size: 1.2em;
    font-weight: 700;
    color: #dddddd;
}

.outline strong {
    font-size: 1em;
}

section {
    font-size: 24px;
    font-weight: 500;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inter", sans-serif;
    /* font-family: "Fira Sans", sans-serif; */
    /* TODO: Change Main Font Here */
    line-height: 1.15;
    /* letter-spacing: 0.4px; */
    padding: 50px 35px;
    color: var(--JAMA-foreground);
    background-color: var(--JAMA-background);
    /* border-left: 10px solid; */
    border-bottom: 10px solid;
    border-image: linear-gradient(to bottom, #6c9a77, #2d696a);
    border-image-slice: 1;
}
section > *:first-child,
section > header:first-child + * {
    margin-top: 0;
}
section code {
    /* background: var(--JAMA-blue); */
    border-radius: 0.2em;
    border: 1px solid var(--JAMA-blue);
    color: var(--JAMA-blue);
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    /* font-family: "Inter", sans-serif; */
    /* font-family: 'JetBrains Mono', monospace; */
    font-weight: 700;
    letter-spacing: 0.5;
    margin: 0.1em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    vertical-align: baseline;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}
section > p {
    transition: transform 0.2s ease;
}
section a {
    text-decoration: none;
    font-weight: 700;
    background: -webkit-linear-gradient(right, #6c9a77, #2d696a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
em {
    font-family: "Lora", serif; /* 使用 'Lora' 字體，若無法加載則回退到系統的serif字體 */
    font-weight: 700;
    font-style: italic; /* 設置斜體 */
}
section section::after,
section footer,
section::after {
    box-sizing: border-box;
    line-height: 30px;
    /* overflow: hidden; */
    padding: 10px 20px;
    position: absolute;
    color: var(--JAMA-blue);
}
section header {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--JAMA-blue);
    font-weight: 500;
    color: var(--JAMA-background) !important;
    border-bottom-left-radius: 15px;
    /* border-bottom-right-radius: 15px; */
    /* border-left: #2d696a 35px solid; */
    font-size: 18px;
    height: 30px;
    padding: 3px 20px;
    right: 0;
    top: 0;
    font-weight: 400;
    text-align: right;
    /* max-width: 500px; */
}

section header a {
    background: var(--JAMA-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section footer a {
    background: var(--JAMA-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section footer.title_as_footer {
    left: 60px;
}

section footer {
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

section header strong {
    padding: 0px 4px 0px 4px;
    font-weight: 500;
    color: var(--JAMA-background);
    /* text-decoration: underline; */
}

section.noheader header {
    display: none;
}

section::after {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.6, 0.05, 0.4, 0.95);
    content: attr(data-marpit-pagination) " / "
        attr(data-marpit-pagination-total);
}
section.section > h1 {
    position: fixed;
    z-index: -1;
    opacity: 0;
}
section.section > h2,
section.section > h3,
section.section > h4,
section.section > h5,
section.section > h6,
section.section > footer,
section.section li,
section.section li::marker,
section.section::after {
    color: var(--JAMA-background);
}

section.section ul {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* 修正偏移 */
}
section.section li.before {
    opacity: 0.2; /* 降低透明度 */
    font-size: 0.7em; /* 保持正常字體大小 */
    text-decoration: line-through; /* 加刪除線 */
}

section.section li.current {
    font-size: 1.2em; /* 增加字體大小 */
    font-weight: 900;
    list-style-type: none;
    position: relative;
    margin-top: 24px !important; /* 設置頂部邊距，強制優先 */
    margin-bottom: 24px !important; /* 設置底部邊距，強制優先 */
    /* text-shadow: 8px 8px 15px rgba(0, 0, 0, 1.8); */
}

section.section li.after {
    opacity: 0.2;
    font-size: 0.7em; /* 保持正常字體大小 */
}
section.section li.after::marker {
    opacity: 1 !important; /* 降低透明度 */
    color: #ffb703;
}

section.section {
    background-color: var(--JAMA-blue);
    color: var(--JAMA-background);
    font-size: 36px;
}

section.section header {
    display: none;
}

section.medium {
    font-size: 36px;
}
section.large {
    font-size: 48px;
}
section.small {
    font-size: 18px;
}

section.happy {
    font-size: 18px;
}

/* TWO colomn style */
section.two {
    column-count: 2;
    column-gap: 1em; /* 欄間距 */
    padding: 10px;
}

/* fit h1 */
section.center h1 {
    text-align: center;
    justify-content: center;
}
/* THREE colomn style */
section.three {
    column-count: 3;
}
/* FOUR colomn style */
section.four {
    column-count: 4;
}

section::after {
    right: 0;
    bottom: 0;
    font-size: 14px;
}

section.free {
    display: flex;
    width: 100%;
    gap: 1em;
}
section.free div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.cc {
    height: 40px;
    left: 40px;
    bottom: 80px;
    position: absolute;
}

/* 彈出框的基本樣式 */
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #323232;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    z-index: 1000;
}

/* 顯示時的動畫效果 */
.popup.show {
    opacity: 1;
    transform: translateY(0);
}

section blockquote {
    font-size: 10px !important;
    margin: 5px 0 0 0;
    padding-top: 5px;
    border-top: 0.1px solid #555;
    margin-top: 10px;
    color: var(--JAMA-foreground);
    /* background: var(--JAMA-background); */
    position: absolute;
    bottom: 0px;
    right: 100px;
    left: 50px;
}
section blockquote::before {
    content: "";
    display: block;
    font-weight: bold;
    position: absolute;
    color: var(--JAMA-green);
    top: 0;
    left: 0;
}
section blockquote > *:first-child {
    margin-top: 0;
}
section blockquote > blockquote > blockquote {
    font-size: 50%;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 0.1em dashed #555;
    position: absolute;
    bottom: -10px;
    left: 10px;
}

section blockquote::before,
section blockquote::after {
    color: var(--JAMA-comment);
}
