/* @theme portrait */

@import "themes/my-theme.css";

:root {
    width: 1080px;
    height: 840px;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    /* font-style: italic; */
    /* margin-top: 100px; */
    margin-bottom: 50px;
    color: var(--JAMA-foreground);
}

h2 {
    font-size: 2em;
    font-weight: 900;
    color: var(--JAMA-blue);
}

h3 {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--JAMA-foreground);
}

h4 {
    font-size: 1.2em;
    color: var(--JAMA-blue);
}

h5 {
    font-size: 1.2em;
    color: var(--JAMA-foreground);
}

h6 {
    font-size: 1em;
    font-style: italic;
    color: var(--JAMA-blue);
}

p {
    font-size: 1em;
    margin: 1em 0 1em 0;
    /* transition: 0.3s; */
}

blockquote {
    font-size: 0.6em;
    margin: 1em 0 0 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
}
