/* @theme social */

@charset "UTF-8";
/*!
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */

@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;800&display=swap");

:root {
    --JAMA-foreground: #e5e5e5;
    --JAMA-current-line: #e5e5e5;
    --JAMA-background: #ffffff;
    /* --JAMA-background: #f8f8f2; */
    --JAMA-comment: #6272a4;
    --JAMA-cyan: #00e887;
    --JAMA-blue: #00e0f3;
    --JAMA-green: #6c9a77;
    --JAMA-orange: #841e2f;
    --JAMA-pink: #9a2f6b;
    --JAMA-purple: #4f2d7d;
    --JAMA-red: #d71635;
    --JAMA-yellow: #8c9434;
    width: 1080px;
    height: 1920px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
    color: #8be9fd;
}

.hljs-keyword {
    color: #ff79c6;
}

.hljs,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
    color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-literal,
.hljs-number {
    color: #bd93f9;
}

.hljs-emphasis {
    font-style: italic;
}
svg[data-marp-fitting="svg"] {
    max-height: 580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.2em 0 0 0;
    max-width: 550px;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: inherit;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    background: -webkit-linear-gradient(right, #00e887, #00e0f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.7em;
    background: -webkit-linear-gradient(right, #00e887, #00e0f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1.1em;
    color: var(--JAMA-foreground);
}

h4 {
    font-size: 1em;
    color: var(--JAMA-blue);
}

h5 {
    font-size: 1em;
    color: var(--JAMA-blue);
}

h6 {
    font-size: 0.8em;
    font-style: italic;
    /* color: var(--JAMA-green); */
}

p {
    font-size: 0.8em;
    margin: 1em 0 1em 0;
}

blockquote {
    font-size: 0.6em;
    margin: 1em 0 0 0;
}

ul > li,
ol > li {
    /* margin: 0.1em 0 0 0; */
    font-size: 1em;
    color: var(--JAMA-cyan);
}
ul > li > p,
ol > li > p {
    margin: 0.6em 0 0 0;
}

strong {
    font-weight: bold;
    background-color: var(--JAMA-blue);
    color: var(--JAMA-blue);
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid #00e887;
    background: -webkit-linear-gradient(right, #00e887, #00e0f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

code {
    display: inline-block;
    /* font-family: "Inter", sans-serif; */
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 0.6em;
    border-radius: 15px;
    letter-spacing: 0.4;
    margin: 0.3em;
    padding: 0.3em 0.5em 0.2em 0.5em;
    vertical-align: baseline;
}

pre {
    display: block;
    min-height: 1.1em;
    color: #fff;
    overflow: visible;
}
pre code {
    box-sizing: border-box;
    line-height: 1.2em;
    background: #333;
    margin: 0;
    min-width: 100%;
    padding: 1em;
    font-size: 1em;
}
pre code svg[data-marp-fitting="svg"] {
    max-height: calc(480px - 1em);
}

blockquote {
    padding-top: 15px;
    border-top: 0.1px solid #555;
    margin-top: 10px;
    font-size: 50%;
    color: var(--JAMA-foreground);
    /* background: var(--JAMA-background); */
    position: absolute;
    bottom: 50px;
    right: 80px;
    left: 40px;
}
blockquote::before {
    content: "";
    display: block;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    position: absolute;
    color: var(--JAMA-green);
    top: 0;
    left: 0;
}
blockquote > *:first-child {
    margin-top: 0;
}
blockquote > blockquote > blockquote {
    font-size: 50%;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 0.1em dashed #555;
    position: absolute;
    bottom: -10px;
    left: 10px;
}

mark {
    background: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1em 0 0 0;
}
table th,
table td {
    padding: 0.2em 0.4em;
    border-width: 1px;
    border-style: solid;
}

section {
    /* box-shadow: inset 0 0 22px var(--JAMA-blue); */
    font-size: 44px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    /* letter-spacing: 0.4px; */
    padding: 50px 50px;
    padding-top: 100px;
    color: var(--JAMA-foreground);
    /* background: #222; */
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(35, 35, 35, 1) 65%
    );
    /* background-image: linear-gradient(to bottom, #323232 , #000000); */
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-image: linear-gradient(to bottom, #00e887, #00e0f3) 1; */
    /* border-bottom: #00e887 3px solid; */
}
section > *:first-child,
section > header:first-child + * {
    margin-top: 0;
}
section a,
section mark {
    color: var(--JAMA-red);
}
section code {
    /* background: var(--JAMA-blue); */
    border: 1px solid var(--JAMA-blue);
    color: var(--JAMA-blue);
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
    color: var(--JAMA-red);
}
/* section pre > code { */
/*   background: #ff4; */
/* } */
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
    color: var(--JAMA-comment);
}
section table th,
section table td {
    border-color: var(--JAMA-current-line);
    font-size: 0.8em;
}
section table thead th {
    background: var(--JAMA-foreground);
    color: var(--JAMA-background);
    font-size: 0.8em;
}
section table tbody > tr:nth-child(even) td,
section table tbody > tr:nth-child(even) th {
    background: var(--JAMA-current-line);
    font-size: 0.8em;
}

header,
footer,
section::after {
    box-sizing: border-box;
    font-size: 60%;
    line-height: 40px;
    /* overflow: hidden; */
    position: absolute;
    color: #aaa;
    /* color: var(--JAMA-foreground); */
}

.profile_container {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    position: absolute;
    /* line-height: 40px; */
    bottom: 300px;
}
.profile_container p {
    margin-left: 50px;
    font-size: 0.5em;
}

.profile_container img {
    margin-left: 50px;
    width: 150px; /* sets the width of the button to 100px */
}
.LLQ {
    border-radius: 50%;
    width: 300px; /* sets the width of the button to 100px */
}
header {
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px 50px;
    top: 20;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: right;
}
.LLQ {
    border-radius: 50%;
    width: 70px; /* sets the width of the button to 100px */
}

footer {
    /* border-bottom: 1px dashed #00e887; */
    /* padding: 5px 5px; */
    margin-right: 20px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 40%;
    /* transparent */
}

section::after {
    right: 0;
    bottom: 0;
    font-size: 80%;
}
.container {
    display: flex;
}

.div1,
.div2 {
    flex: 1;
    padding: 20px;
}
.columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 4rem;
}
hr {
    border: 1px solid var(--JAMA-blue);
}
p:hover,
li:hover {
    /* background-color: #f0f0f0; */
    color: var(--JAMA-blue);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
pre ol li:hover {
    font-weight: 800;
    /* color: var(--JAMA-green); */
    color: #ffb703;
}
button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    line-height: 1;
    border-radius: 200px;
    transition-property: background-color, border-color, color, box-shadow,
        filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 2px 2px;
    margin-left: 20px;
    color: #fff;
    background-color: #2d696a;
    height: 48px;
    :hover {
        transform: scale(1.04);
        background-color: #2d696a;
    }
}
.container {
    border: 1px solid black;
    margin: 10px;
}
summary {
    color: #2d696a;
    font-weight: bold;
}
/* line num in codebox  */
pre ol {
    all: unset;
    display: grid;
    grid-template-columns: auto 1fr;
    counter-reset: line-number 0;
}
pre ol li {
    display: contents;
    color: #fff;
}
li::marker {
    color: #00e0f3;
    /* background: -webkit-linear-gradient(right, #00e0f3, #00e887); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
pre ol li span[data-marp-line-number]::before {
    display: block;
    content: counter(line-number);
    counter-increment: line-number;
    text-align: right;
    color: #595959;
    background-color: #222;
    border-right: 5px solid #595959;
    margin-right: 0.51em;
    padding-right: 0.51em;
    padding-left: 0.51em;
}
.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
img[alt*="emojik"] {
    position: absolute; /* sets the position of the element to absolute */
    right: 200px;
    bottom: 200px;
}
.test {
    color: #595959;
}
